/core_noinsms_haotian/bin
/core_noinsms_haotian/gen
/helper_noinsms_haotian/gen
/helper_noinsms_haotian/bin
/core_noinsms_shuicg/gen
/helper_noinsms_shuicg/gen
/core_noinsms_haotian/.svn
/helper_noinsms_shuicg/.svn
/core_noinsms_shuicg/.svn
/helper_noinsms_haotian/.svn
/core_noinsms_shuicg/bin
/helper_noinsms_shuicg/bin
/HaotianPayDemo/.svn
/HaotianPayDemo/bin
/HaotianPayDemo/gen
/HaotianPayDemoShuicg/.svn
/HaotianPayDemoShuicg/bin
/HaotianPayDemoShuicg/gen
/core_noinsms_shuicg_unify/bin
/core_noinsms_shuicg_unify/gen
/core_noinsms_haotian_unify/bin
/core_noinsms_haotian_unify/gen
/helper_noinsms_unify/bin
/helper_noinsms_unify/gen
/HaotianPayUnifyDemo/bin
/HaotianPayUnifyDemo/gen
/内部使用Demo工程/core_noinsms_haotian_unify/bin
/内部使用Demo工程/core_noinsms_haotian_unify/gen
/内部使用Demo工程/core_noinsms_shuicg_unify/gen
/内部使用Demo工程/core_noinsms_shuicg_unify/bin
/内部使用Demo工程/HaotianPayUnifyDemo/gen
/内部使用Demo工程/HaotianPayUnifyDemo/bin
/内部使用Demo工程/helper_noinsms_unify/gen
/内部使用Demo工程/helper_noinsms_unify/bin
/内部使用Demo工程/core_noinsms_shuicg_local_unify/gen
/内部使用Demo工程/core_noinsms_haotian_local_unify/bin
/内部使用Demo工程/core_noinsms_haotian_local_unify/gen
/内部使用Demo工程/core_noinsms_shuicg_local_unify/bin

/Alipay/helper_noinsms_haotian_alipay/gen
/Alipay/helper_noinsms_haotian_alipay/.svn
/Alipay/helper_noinsms_haotian_alipay/bin
/Alipay/core_noinsms_haotian_alipay/gen
/Alipay/core_noinsms_haotian_alipay/.svn
/Alipay/core_noinsms_haotian_alipay/bin
/Alipay/HaotianPayDemoAlipay/gen
/Alipay/HaotianPayDemoAlipay/.svn
/Alipay/HaotianPayDemoAlipay/bin
/Alipay/HaotianPayDemoAlipay/assets

/只包含短信的工程/core_noinsms_only_sms/.svn
/只包含短信的工程/core_noinsms_only_sms/gen
/只包含短信的工程/core_noinsms_only_sms/bin
/只包含短信的工程/helper_noinsms_only_sms/gen
/只包含短信的工程/helper_noinsms_only_sms/.svn
/只包含短信的工程/helper_noinsms_only_sms/bin
/只包含短信的工程/HaotianPayOnlySmsDemo/gen
/只包含短信的工程/HaotianPayOnlySmsDemo/.svn
/只包含短信的工程/HaotianPayOnlySmsDemo/bin
/只包含短信的拟合工程/core_noinsms_shuicg/gen
/只包含短信的拟合工程/core_noinsms_shuicg/.svn
/只包含短信的拟合工程/core_noinsms_shuicg/bin
/只包含短信的拟合工程/HaotianPayDemoShuicg/bin
/只包含短信的拟合工程/HaotianPayDemoShuicg/gen
/只包含短信的拟合工程/HaotianPayDemoShuicg/.svn
/只包含短信的拟合工程/helper_noinsms_shuicg/gen
/只包含短信的拟合工程/helper_noinsms_shuicg/.svn
/只包含短信的拟合工程/helper_noinsms_shuicg/bin

/Alipay(weixin)/helper_noinsms_haotian_alipay_alipay_plugin_wx/bin

/Alipay(weixin)/HaotianPayDemoAlipay/bin


/ThirdPay/HaotianThirdPayProject/gen
/ThirdPay/HaotianThirdPayProject/.svn
/ThirdPay/HaotianThirdPayProject/bin
/ThirdPay_SmsPay/HaotianThirdPay_SmsPayDemo/.svn
/ThirdPay_SmsPay/HaotianThirdPay_SmsPayDemo/bin
/ThirdPay_SmsPay/HaotianThirdPay_SmsPayDemo/gen
/ThirdPay_SmsPay/helper_noin_third_sms_shuicg/bin
/ThirdPay_SmsPay/helper_noin_third_sms_shuicg/gen
/ThirdPay_SmsPay/helper_noin_third_sms_shuicg/.svn
/ThirdPay/ThirdPayDemo/gen
/ThirdPay/ThirdPayDemo/bin
/ThirdPay_SmsPay/HaotianBaiduWalletRefactorLib/gen
/ThirdPay_SmsPay/HaotianBaiduWalletRefactorLib/bin
/ThirdPay_SmsPay_Stand_alone/helper_noin_third_sms_shuicg/.svn
/ThirdPay_SmsPay_Stand_alone/helper_noin_third_sms_shuicg/bin
/ThirdPay_SmsPay_Stand_alone/helper_noin_third_sms_shuicg/gen
/ThirdPay_SmsPay_Stand_alone/HaotianThirdPay_SmsPayDemo/gen
/ThirdPay_SmsPay_Stand_alone/HaotianThirdPay_SmsPayDemo/.svn
/ThirdPay_SmsPay_Stand_alone/HaotianThirdPay_SmsPayDemo/bin
/ThirdPay_SmsPay_Stand_alone/HaotianBaiduWalletRefactorLib/gen
/ThirdPay_SmsPay_Stand_alone/HaotianBaiduWalletRefactorLib/bin

/ThirdPay_SmsPay/com.xt.sdk8/gen
/ThirdPay_SmsPay/com.xt.sdk8/bin
/ThirdPay_SmsPay1.2/ThirdPay_SmsPay1.2/gen

/ThirdPay_SmsPay1.2/ThirdPay_SmsPay1.2/bin
/dex_project/ThirdPaySmsPayDex/gen
/dex_project/ThirdPaySmsPayDex/bin
/dex_project/helper_noinsms_shuicg_dex/gen
/dex_project/helper_noinsms_shuicg_dex/.svn
/dex_project/helper_noinsms_shuicg_dex/bin

/ThirdPay_SmsPay/com.xt.sdk8_stand_alone_wx_wap/gen
/ThirdPay_SmsPay/com.xt.sdk8_stand_alone_wx_wap/bin
/skypay/core_noinsms_shuicg_skypay/.svn
/skypay/core_noinsms_shuicg_skypay/bin
/skypay/core_noinsms_shuicg_skypay/gen
/skypay/HaotianPayDemoShuicgSkyPay/gen
/skypay/HaotianPayDemoShuicgSkyPay/.svn
/skypay/HaotianPayDemoShuicgSkyPay/bin
/skypay/helper_noinsms_shuicg_skypay/gen
/skypay/helper_noinsms_shuicg_skypay/.svn
/skypay/helper_noinsms_shuicg_skypay/bin
/molibirdpay/core_noinsms_shuicg_molibirdpay/gen
/molibirdpay/core_noinsms_shuicg_molibirdpay/.svn
/molibirdpay/core_noinsms_shuicg_molibirdpay/bin
/molibirdpay/HaotianPayDemoShuicgmolibirdPay/bin
/molibirdpay/HaotianPayDemoShuicgmolibirdPay/gen
/molibirdpay/HaotianPayDemoShuicgmolibirdPay/.svn
/molibirdpay/helper_noinsms_shuicg_molibirdpay/bin
/molibirdpay/helper_noinsms_shuicg_molibirdpay/gen
/molibirdpay/helper_noinsms_shuicg_molibirdpay/.svn
/ThirdPay_SmsPay/com.xt.sdk8_stand_alone_wx_wap/gen
/ThirdPay_SmsPay/com.xt.sdk8_stand_alone_wx_wap/bin

/helper_noin_third_sms_shuicg_update_config/gen
/helper_noin_third_sms_shuicg_update_config/bin
/mifupay/core_noinsms_shuicg_mifupay/.svn
/mifupay/core_noinsms_shuicg_mifupay/bin
/mifupay/core_noinsms_shuicg_mifupay/gen
/mifupay/helper_noinsms_shuicg_mifuipay/gen
/mifupay/helper_noinsms_shuicg_mifuipay/.svn
/mifupay/helper_noinsms_shuicg_mifuipay/bin
/mifupay/HaotianPayDemoShuicgmifuPay/bin
/mifupay/HaotianPayDemoShuicgmifuPay/gen
/mifupay/HaotianPayDemoShuicgmifuPay/.svn
/pushipay/core_noinsms_shuicg_pushipay/gen
/pushipay/core_noinsms_shuicg_pushipay/.svn
/pushipay/core_noinsms_shuicg_pushipay/bin
/pushipay/HaotianPayDemoShuicgpushiPay/gen
/pushipay/HaotianPayDemoShuicgpushiPay/.svn
/pushipay/HaotianPayDemoShuicgpushiPay/bin
/pushipay/helper_noinsms_shuicg_pushipay/gen
/pushipay/helper_noinsms_shuicg_pushipay/.svn
/pushipay/helper_noinsms_shuicg_pushipay/bin
/pushipay/core_noinsms_shuicg_pushipay/.svn
/pushipay/core_noinsms_shuicg_pushipay/bin
/pushipay/core_noinsms_shuicg_pushipay/gen
/pushipay/HaotianPayDemoShuicgpushiPay/bin
/pushipay/helper_noinsms_shuicg_pushipay/bin
/mifupay/HaotianPayDemoShuicgmifuPay/.svn
/mifupay/helper_noinsms_shuicg_mifuipay/.svn
/mifupay/helper_noinsms_shuicg_mifuipay/bin
/ThirdPay_SmsPay/com.xt.sdk8_stand_alone/gen
/ThirdPay_SmsPay/com.xt.sdk8_stand_alone/bin

/yuanlangpay/helper_noinsms_shuicg_yuanlangpay/gen
/yuanlangpay/helper_noinsms_shuicg_yuanlangpay/bin
/yuanlangpay/HaotianPayDemoShuicgyuanlangPay/gen
/yuanlangpay/HaotianPayDemoShuicgyuanlangPay/bin
/yuanlangpay/core_noinsms_shuicg_yuanlangpay/gen
/yuanlangpay/core_noinsms_shuicg_yuanlangpay/bin

/魔信定制的第三方支付/com.xt.sdk8_stand_alone_moxin/gen
/魔信定制的第三方支付/com.xt.sdk8_stand_alone_moxin/bin
/魔信定制的第三方支付/helper_noin_third_sms_shuicg_update_config_moxin/gen
/魔信定制的第三方支付/helper_noin_third_sms_shuicg_update_config_moxin/bin

